@import url("https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@300&display=swap");

body {
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  font-size: 1em;
  margin: 0;
  padding: 0;
}
#container {
  margin: 0;
  max-width: 2000px;
  min-width: 900px;

}
#container2 {
  margin: 0;
  max-width: 2000px;
  min-width: 900px;
  font-size: large;

}
#container2 ul{
  display: flex;
}
#container2 a{
  padding: 10px ;
  margin: 0 5px;
  font-size: .7rem; 
}
#content {
  width: 100%;
  font-weight: bold;
}
#content2 {
  width: 100%;
  font-weight: bold;
  color: black;
}
#submitPage {
  width: 100%;
  font-weight: bold;
  font-size: 200%;
}
header {
  border-radius: none;
  display: flex;
  justify-content: space-between;
  background-color: #544011;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  text-align: center;
}
nav ul {
  padding-left: 0;
  flex-direction: row;
}
nav ul li {
  display: inline;
  padding-left: 10px;
  padding-right: 10px;
  border: none;
  border-left: 1px solid #fff;
  font-size: 30px;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
}
nav li a {
  text-decoration: none;
  color: #f2a903;
}
nav li a:hover {
  color: #fff;
}
nav {
  display: contents;
}
.nav_item {
  transition: .3s all ease-in-out;
}
.nav_item:hover{
  color: white;
}
dt,
dd {
  margin: 20px;
  border-spacing: 20px;
  text-decoration: none;
}
dl {
  margin: 20px;
  border-spacing: 20px;
  text-decoration: none;
}
p {
  padding-left: 120px;
  padding-right: 120px;
}
h3 {
  padding-left: 120px;
  padding-right: 120px;
}
h4 {
  padding-left: 120px;
  padding-right: 120px;
}
h5 {
  padding-left: 120px;
  padding-right: 120px;
  text-align: center;
}
#facnav {
  font-weight: bold;
  padding-left: 120px;
  padding-right: 120px;
  text-align: center;
  list-style-type: none;
}
#navBorder {
  border-radius: 25px;
  border: 2px solid black;
  padding: 20px;
  width: 200px;
  height: 150px;
  display: inline block;
}
.sidebar{
	flex:0 1 200px;
	min-width: 200px;
	padding:20px 40px;	
	border:1px solid #ccc;
	border-radius:8px;
	margin: 70px 0 0 10px;
}
.burgerMenu {
  display: none;
}
.sliderOuter {
  overflow: hidden;
  position: relative;
}
section {
  display: flex;
}
section > div {
  flex: 0 0 50%;
}

.studentInfo {
  width: 100%;
  font-weight: bold;
  text-align: center;
}
.title {
  font-size: 150%;
  font-weight: bold;
  text-align: center;
  color: black;
  letter-spacing: 2px;
  line-height: 1.4;
}


.textBorder{
  border-radius: 15px;
  box-shadow: 0 3px 10px ;
  padding: 20px;
  margin: 10px;
  color: black;
}
.imageBorder{
  padding: 20px;
}

#grad {
  background-image: linear-gradient(#544011,#f2a903, white);
}
.grid {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100%;
}

dl dt {
  font-size: 200%;
  text-align: center;
}
dl dd {
  text-align: center;
}

form > div{
	margin: 10px 0;
}
label{
	flex-basis: 120px;
}
input[type=text]{
	width: 200px;
	padding: 5px;
	font-family: "Zen Kaku Gothic Antique", sans-serif;
}
textarea{
	width: 400px;
  height: 400px;
	padding: 5px;
	font-family: "Zen Kaku Gothic Antique", sans-serif;
  resize: none;
}
.submitBtn{
	margin-left: 120px;
}
form > div {
	margin: 10px 0;
	display: flex;
}